

@media (max-width:9000px) {    
    .open-card-btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .5 ease-in-out;
    
        &__hamb{
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 100%;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5 ease-in-out;
        }
        &__hamb::before,
        &__hamb::after
        {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 100%;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5 ease-in-out;
        }
    
       &__hamb::before{
            transform: translateY(-14px);
        }
    
        &__hamb::after{
            transform: translateY(14px);
        }
    }
}

@media (max-width:320px) {
    .open-card-btn__hamb{
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }  

    .open-card-btn__hamb::before,
    .open-card-btn__hamb::after
    {
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }

    .open-card-btn__hamb::before{
        transform: translateY(-10px);
    }

    .open-card-btn__hamb::after{
        transform: translateY(10px);
    }
}

