.nosotros_container{
    position: relative;
    width: 100%;


    .clock_nosotros{
        width: 100%;
        position: relative;
        video{
            width: 100%;
        }
    }

    .text_nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        color: black;
        h2{
            &:hover{
                -webkit-text-stroke: 2px #000;
                color: transparent;                                         
                transition: 0.1s ease-in-out;
            }
        }
        p{
            margin-top: 2rem;
            text-align: center;
        }
    }   

    .btn_welcome{
        margin-top: 4rem;

        .btn{
            background-color: black;
            color: white;
            box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.94);
            -webkit-box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.94);
            -moz-box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.94);
            &:hover{
                background-color: transparent;
                color: black;
                font-weight: 900;
                transition: 0.3s ease-in-out;
                box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.94);
                -webkit-box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.94);
                -moz-box-shadow: 1px 2px 8px -1px rgba(0,0,0,0.94);
            }
        }
    }
}
@media (max-width:1440px) {
    .nosotros_container{
        display:inline-block;
        .text_nosotros{

            h2{
                font-size: 2rem;
                padding-bottom: 1rem;
            }
            p{
                font-size: 1.4rem;
                line-height: 2rem;
                margin-top: 1rem;
            }
        }
    }
}

@media (min-width:760px) {
    video{
        opacity: 0.8;
    }
    .text_nosotros{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        width: 650px;
        height: 90%;
        margin: auto;
        h2{
            font-size: 3rem;
            color: black;
            padding-bottom: 2rem;
        }
        p{
            font-size: 2rem;
            font-weight: 900;
            color: black;
            line-height: 2.5rem;
        }
    }
}

@media (max-width:620px) {
    .nosotros_container{
        .text_nosotros{
            h2{
                font-size: 1.7rem;
                padding-bottom: 1rem;
            }
            p{
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
}